# USB Serial JTAG configuration
CONFIG_USB_SERIAL_JTAG_ENABLED=y
CONFIG_USB_SERIAL_JTAG_RXD_ONLY=n
CONFIG_USB_SERIAL_JTAG_TXD_ONLY=n

# SPI configuration
CONFIG_SPI_MASTER_IN_IRAM=y

# LCD configuration
CONFIG_LCD_ENABLE_DEBUG_LOG=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000
